@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #00d991;
  --container-padding: 1.25rem;
}

.my-toast {
  width: 380px;
}

body {
  @apply bg-white text-black; /* light mode */
}

.dark {
  @apply bg-[#171923] text-white;
}

@layer components {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    max-width: 1280px;
  }

  .btn-primary {
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
  }

  html.dark .btn-primary {
    color: var(--color-bg);
  }
}
