@import "tailwindcss";

@theme {
  --color-primary: #00d991;
  --container-padding: 1.25rem;
}

.my-toast {
  width: 380px;
}

/* @layer base {  */
/* For Dark Mode */
/* html.dark {
 --color-bg: #111827; dark background 
 --color-text: #f9fafb; light text 
 --color-primary: #00d991;
 } 
For Light Mode
 html {
 --color-bg: #ffffff; light background
 --color-text: #111827; dark text 
 --color-primary: #00d991;
 }

body {
    background-color: var(--color-bg);
    color: var(--color-text);
}
} */

body {
  @apply bg-white text-black; /* light mode */
}

/* Dark mode using instructor style */
.dark {
  @apply bg-[#171923] text-white;
}

@layer components {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    max-width: 1280px;
  }

  .btn-primary {
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
  }

  html.dark .btn-primary {
    color: var(--color-bg);
  }
}
